<div id="promo">
    <img src="pic/promotionImage.PNG" ali ="Promotion">
</div>
<p class="ctitle">Categories</p>
<div id="categories">
    

    <div id="categorydiv">
    {{#each productCategory}}
    <div id="eachcategory">
        
       <p>{{this.category}}</p>
        <a href="/productDesc/{{id}}">
    <img src ="/pic/{{this.picture}}" ali ="{{this.name}}"></a>
      
    </div>
    {{/each}}   
    </div>
   
</div>
 <p class="ctitle">Best Seller</p>
<div id="bestseller">
    
     <div id="bestsellerdiv">
    {{#each bestSell}}
        <div id="eachbestsell">
             <a href="/productDesc/{{id}}">
        <img id="bestsell" src ="/pic/{{this.picture}}" ali ="{{this.name}}">
        </a>
        </div>
    {{/each}}   
    </div>
</div>